extends layout

block content
  div.container
    h2 Log-in 

    form(method='POST' action='')
        div.m3-b
        label(for='username') Username:
        input#username.form-control(type='text' placeholder='UserName' name='username' minLength=1 maxLength=20 required='true' value=(undefined===user ? '' : user.username) )
        div.m3-b
        label(for='password') Password:
        input#password.form-control(type='password' required='true' name='password' value=("") minLength=8)
        br
        button.btn.btn-primary(type='submit') Submit
    if errors
        ul
        for error in errors
            li!= error.msg
